:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul li {
    text-decoration: none;
}

* {
    font-family: 'Raleway', sans-serif;
}

.eCompleto {
    display: flex;
    flex-direction: column;
    background-image: url(./public/img/fondo.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000000;
    color: #ffffff;
    list-style: none;
    align-items: center;
}

.imgheader {
    width: 4.3em;
    height: 4.3em;
}

.portadaFondo {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin: 17%;
}

.letrasRayadas {
    font-family: 'Monoton', cursive;
    font-size: 8em;
    background: transparent;
    font-style: normal;
}

.denajoRayadas {
    font-size: 1.6em;
}

.articulo {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    grid-template-rows: repeat(2, minmax(150px, auto))
}

.imgenerica {
    width: 50%;
    height: 50%;
}

.sSection {
    border-radius: 15em;
    align-content: center;
    width: 1fr;
    margin: 0.5em;
}

.genericoNaranja {
    font-size: 1em;
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.2em;
    border: 0;
    color: #ffffff;
    background: orange;
    width: auto;
}